
<div class="container">
	<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
	<section class="row" *ngFor="#work of works">
	<section class="col-lg-1  col-md-2">
			Work :{{work.title}}, description : {{work.description}}, types : <span *ngFor="#type of work.types">{{type}}</span>, 
			groups : <span *ngFor="#group of work.groups">{{group}}</span>, 
		</section>
		<section class="col-lg-11  col-md-10">
			<div class="col-lg-3 col-md-6" *ngFor="#picture of work.pictures"><img src="{{picture}}" class="img-responsive center-block" alt="Image 1"></div>
		</section>

	</section>

</div>